		<ul class="dark_menu">
    <li><a href="#" class="selected">Home</a></li>
    <li>
        <a href="#">Portfolio</a>
        <!-- Sub Menu Begin -->
        <ul>
            <li><a href="/home">Lorem ipsum dolor</a></li>
            <li><a href="/">Donec lorem</a></li>
            <li><a href="/etc">Lorem ipsum dolor</a></li>
            <li><a href="#">Donec lorem</a></li>
        </ul>
        <!-- Sub Menu End -->
    </li>
    <li>
        <a href="/address">Blog</a>
        <!-- Sub Menu Begin -->
        <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Donec lorem</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Donec lorem</a></li>
        </ul>
        <!-- Sub Menu End -->
    </li>
    <li><a href="#">Contact</a></li>
</ul>